<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8" />
    <title>Flask WebUsers</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<nav>
    <!-- Jednoduchá navigace -->
    <a href="{{ url_for('index') }}">Domů</a>
    {% if session.user_id %}
        <a href="{{ url_for('logout') }}">Odhlásit</a>
        {% endif %}
</nav>

<div class="container">
    {% block content %}{% endblock %}
</div>

</body>
</html>
